.root{
    width:100%;
    height:200px;
    text-align: center;  
    margin: 0;
}
.todoList{
    margin-top: 30px;
    width:100%;
    height:80%;
    overflow: hidden;
   
}
.agreementfooter{
    width:80%;
    position: absolute;
    bottom: 30px;
}